<list-errors errors="bookCtrl.errors"></list-errors>

<form name='bookCtrl.form' novalidate class='form-horizontal'
	ng-submit="bookCtrl.form.$valid && bookCtrl.send()">
	
	<div class='form-group'>
		<label for="price" class='control-label col-sm-3'>Current price: </label>
		<div class='col-xs-3'>
			<span class='text-primary form-control'>
				{{ bookCtrl.book.price | currency }}
			</span>
		</div>	
	</div>

	<!-- New Price -->
	<div class='form-group has-feedback' ng-class="{'has-error': bookCtrl.priceError(),
		'has-success': bookCtrl.priceOk() }">

		<label for="price" class='control-label col-sm-3'>Promotion price: </label>
		<div class='col-sm-9'>
			<input type="number" step="0.01" class='form-control' id="price" name="price"
				ng-model="bookCtrl.book.promotion.new_price" required min="1" ng-min="1" 
				ng-max="bookCtrl.book.price" ng-model-options="{updateOn: 'blur'}" />
			<!-- Icons -->
			<i class='fa fa-remove form-control-feedback' ng-if="bookCtrl.priceError()"></i>
			<i class='fa fa-check form-control-feedback' ng-if="bookCtrl.priceOk()"></i>
		</div>
		<!-- Errors -->
		<div class='col-sm-9 col-sm-offset-3' ng-if="bookCtrl.priceError()"
			ng-messages="bookCtrl.form.price.$error">
			<strong class='text-danger' ng-message="required">
				The price field is required
			</strong>
			<strong class='text-danger' ng-message="min">
				The price must be bigger then one
			</strong>
			<strong class='text-danger' ng-message="max">
				The price can't be bigger then the the original
			</strong>
		</div>
	</div>

	<!-- Start date -->
	<div class='form-group has-feedback' ng-class="{'has-error': bookCtrl.startError(),
		'has-success': bookCtrl.startOk() }">
		<label for="start" class='control-label col-sm-3'>Start date: </label>
		<div class='col-sm-5'>			
				<input type="text" class='form-control' ng-model="bookCtrl.book.promotion.start" 
					data-date-format="yyyy/MM/dd" bs-datepicker name="start" required my-date
					data-min-date="today" data-autoclose="1" />
			<!-- Icons -->
			<i class='fa fa-remove form-control-feedback' ng-if="bookCtrl.startError()"></i>
			<i class='fa fa-check form-control-feedback' ng-if="bookCtrl.startOk()"></i>
		</div>
		<div class='col-sm-4'>			
				<input type="text" class="form-control" ng-model="bookCtrl.book.promotion.start" 
			     	data-time-format="HH:mm:ss" data-time-type="number" data-autoclose="1" 
			     	my-date name="start" bs-timepicker />
			<!-- Icons -->
			<i class='fa fa-remove form-control-feedback' ng-if="bookCtrl.startError()"></i>
			<i class='fa fa-check form-control-feedback' ng-if="bookCtrl.startOk()"></i>
		</div>
		<!-- Errors -->
		<div class='col-sm-9 col-sm-offset-3' ng-if="bookCtrl.startError()"
			ng-messages="bookCtrl.form.start.$error">
			<strong class='text-danger' ng-message="required">
				The start date field is required
			</strong>
			<strong class='text-danger' ng-message="date">
				The start date field is not valid
			</strong>			
		</div>
	</div>

	<!-- End date -->
	<div class='form-group has-feedback' ng-class="{'has-error': bookCtrl.endError(),
		'has-success': bookCtrl.endOk() }">
		<label for="start" class='control-label col-sm-3'>End date: </label>
		<div class='col-sm-5'>			
				<input type="text" class='form-control' ng-model="bookCtrl.book.promotion.end" 
					data-date-format="yyyy/MM/dd" bs-datepicker name="end" required my-date
					data-min-date="{{bookCtrl.book.promotion.start}}" data-autoclose="1" />
			<!-- Icons -->
			<i class='fa fa-remove form-control-feedback' ng-if="bookCtrl.endError()"></i>
			<i class='fa fa-check form-control-feedback' ng-if="bookCtrl.endOk()"></i>
		</div>
		<div class='col-sm-4'>			
				<input type="text" class="form-control" ng-model="bookCtrl.book.promotion.end" 
			     	data-time-format="HH:mm:ss" data-time-type="number" data-autoclose="1" 
			     	my-date bs-timepicker />
			<!-- Icons -->
			<i class='fa fa-remove form-control-feedback' ng-if="bookCtrl.endError()"></i>
			<i class='fa fa-check form-control-feedback' ng-if="bookCtrl.endOk()"></i>
		</div>
		<!-- Errors -->
		<div class='col-sm-9 col-sm-offset-3' ng-if="bookCtrl.endError()"
			ng-messages="bookCtrl.form.end.$error">
			<strong class='text-danger' ng-message="required">
				The end date field is required
			</strong>
			<strong class='text-danger' ng-message="date">
				The end date field is not valid
			</strong>
			<strong class='text-danger' ng-message="min">
				The end date can't be before the start date
			</strong>			
		</div>
	</div>

	<div class='row'>
		<div class='col-sm-4 col-sm-offset-3 col-xs-8'>
			<button class='btn btn-primary btn-block'>
				<i class='fa fa-paper-plane'></i>				
				{{bookCtrl.btnText}}
			</button>
		</div>
		<i class='fa fa-spinner fa-spin fa-2x' no-animate
			ng-if="bookCtrl.sending"></i>
	</div>

</form>