<div class='row'>
	<div class='col-sm-2'>
		<h5 class='bold'>
			Filter by category
		</h5>
		<div class='list-group side-categories'>
			<a class='list-group-item' ng-click="bookCtrl.filter(category)" 
				ng-class="{'active': category.selected, 'disabled': bookCtrl.loading}"
				ng-repeat="category in bookCtrl.categories">
				{{ category.name }}
			</a>			
		</div>
	</div>
	<div class='col-sm-10'>
		<index-books books="bookCtrl.books"> </index-books>

		<button class='btn btn-primary btn-lg btn-block' ng-click="bookCtrl.loadMore()"
			ng-class="{'disabled': bookCtrl.loading}" ng-if="!bookCtrl.done">
			Load More
			<i class='fa fa-spinner fa-spin' ng-if="bookCtrl.loading" no-animate></i>
		</button>
	</div>
</div>