<nav class='navbar navbar-blue navbar-fixed-top'>
    <div class='container'>
        <div class='navbar-header'>
            <button data-target="#collapse" class='navbar-toggle' data-toggle='collapse'>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a ui-sref="root.home" class='navbar-brand'>MBM Book Store</a>
        </div>

        <div class='collapse navbar-collapse' id='collapse'>
            <ul class='nav navbar-nav'>
                <li ui-sref-active='active'>
                    <a ui-sref='root.books-index'>
                        <i class='fa fa-book'></i>
                        Books
                    </a>
                </li>
                <li ui-sref-active='active'>
                    <a ui-sref='root.about'>                        
                        About
                    </a>
                </li>
            </ul>

            <ul class='nav navbar-nav navbar-right'>
                <li ng-if="navCtrl.authUser.isAuthenticated" class='dropdown'>
                    <a class='dropdown-toggle' data-toggle='dropdown'>
                        <i class='fa fa-user'></i>
                        {{ navCtrl.authUser.name }}
                        <span class='caret'></span>
                    </a>
                    <ul class="dropdown-menu">                        
                        <li ng-if="!navCtrl.authUser.advanced()">
                            <a ui-sref="root.user-show({slug: navCtrl.authUser.slug})">
                                <i class='fa fa-user'></i>
                                Profile
                            </a>
                        </li>
                        <li>
                            <a ng-click="navCtrl.logout()">
                                <i class='fa fa-sign-out'></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-if="navCtrl.authUser.advanced()">
                    <a ui-sref="root.admin-dashboard">
                        <i class='fa fa-tachometer'></i>
                        Dashboard
                    </a>                            
                </li>
                <li ng-if="navCtrl.authUser.advanced()">
                    <button class="btn btn-default navbar-btn" 
                        ng-click="navCtrl.showAddBookDialog()">
                        <i class='fa fa-plus-circle'></i>
                        Add a new book
                    </button>                                            
                </li>
                <li ng-if="!navCtrl.authUser.isAuthenticated">
                    <a ng-click="navCtrl.showLoginDialog()">
                        <i class='fa fa-sign-in'></i>
                        Login
                    </a>
                </li>
                <li ng-if="!navCtrl.authUser.isAuthenticated">
                    <a ng-click="navCtrl.showRegisterDialog()">
                        <i class='fa fa-user'></i>
                        Register
                    </a>
                </li>       
            </ul>
        </div>
    </div>      
</nav>