<h1 class='page-header'>
	Latest Orders
	<span class='badge'>
		{{adminCtrl.orders.length}}
	</span>	
</h1>

<table class='table table-bordered table-striped' st-table="orders" 
	st-safe-src="adminCtrl.orders">
	<thead>
		<tr class='bold'>
			<td st-sort="id">Order ID</td>
			<td st-sort="book.name">Book Name</td>
			<td st-sort="user.name">User Name</td>
			<td st-sort="book.price">Price</td>
			<td st-sort="created_at">Order Date</td>
			<td st-sort="address">Shipping Address</td>
			<td st-sort="ordered">Finsihed</td>			
		</tr>
		<tr>
			<td>
				<input type='text' class='form-control' st-search='id'  tooltip
				title="Search by order id..." placeholder="Search by order id..." />
			</td>		
			<td>
				<input type='text' class='form-control' st-search='book.name' tooltip			
					title="Search by book name..." placeholder="Search by book name..." />
			</td>
			<td>
				<input type='text' class='form-control' st-search='user.name' tooltip
					title="Search by user name..." placeholder="Search by user name..." />
			</td>
			<td colspan="2"></td>
			<td>
				<input type='text' class='form-control' st-search='address' tooltip
					title="Search by shipping address..." 
					placeholder="Search by shipping address..." />
			</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="order in orders">
			<td>{{order.id}}</td>
			<td>
				<a ui-sref="root.book-show({slug: order.book.slug})">
					{{ order.book.name }}
				</a>
			</td>
			<td>
				<a ui-sref="root.user-show({slug: order.user.slug})">
					{{ order.user.name }}
				</a>
			</td>
			<td>
				{{ order.book.price }}
			</td>
			<td>
				{{ order.created_at }}
			</td>
			<td>
				{{ order.address }}
			</td>
			<td>
				{{ order.ordered }}
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="7" class="text-center">
				<div st-pagination st-items-by-page="10"></div>
			</td>
		</tr>
	</tfoot>
</table>