<div id="myCarousel" class="carousel slide" data-ride="carousel" carousel>
	<div class="carousel-header">       
		<div class="controls">
			<a class="btn btn-success" data-slide="prev" data-target="#myCarousel">
				<i class="fa fa-chevron-left"></i>
			</a>
			<a class="btn btn-success" data-slide="next" data-target="#myCarousel">
				<i class="fa fa-chevron-right"></i>
			</a>
		</div>
	</div>

	<div class='carousel-inner'>		

		<div class='item' ng-class="{'active': $first}"
			ng-repeat="i in [] | range:bookCtrl.count track by $index">
			<div class='row'>				
				<div class='col-sm-3 book' ng-repeat="book in bookCtrl.books | 
					limitTo:4:$index*4">
					<img class='img-responsive' ng-src="/{{book.image_path}}" />    			
					<div class='book-caption'>
						<div class='background'></div>
						<h4>
							<a ui-sref="root.book-show({slug: book.slug})">
								{{ book.name }}
							</a>
						</h4>
					</div>
				</div>
			</div>
		</div>		
	</div>
</div>