<list-errors errors="loginCtrl.errors"></list-errors>

<form name="loginCtrl.form" novalidate class='form-horizontal'
	ng-submit="loginCtrl.form.$valid && loginCtrl.login()">
	<!-- Email -->
	<div class='form-group has-feedback' 
		ng-class="{'has-error': loginCtrl.emailError(), 
			'has-success': loginCtrl.emailOk()}">
		<label for="email" class='control-label col-sm-2'>Email: </label>		
		<div class='col-sm-10'>
			<input type="email" class='form-control' name="email" id="email"
				required ng-model="loginCtrl.credentials.email" 
				ng-model-options="{updateOn: 'blur'}" />
			<i class='fa fa-remove form-control-feedback' ng-if="loginCtrl.emailError()"></i>
			<i class='fa fa-check form-control-feedback' ng-if="loginCtrl.emailOk()"></i>
		</div>
		<!-- Errors -->
		<div class='col-sm-10 col-sm-offset-2 error' ng-if="loginCtrl.emailError()" 
			ng-messages="loginCtrl.form.email.$error">
			<strong class='text-danger' ng-message="required">
				The email field is required
			</strong>
			<strong class='text-danger' ng-message="email">
				The email field is not valid
			</strong>
		</div>
	</div>
	<!-- Password -->
	<div class='form-group has-feedback'
		ng-class="{'has-error': loginCtrl.passwordError(), 
			'has-success': loginCtrl.passwordOk()}">
		<label for="password" class='control-label col-sm-2'>Password: </label>		

		<div class='col-sm-10'>
			<input type="password" class='form-control' name="password" id="password"
				required ng-model="loginCtrl.credentials.password" 
				ng-model-options="{updateOn: 'blur'}" />
			<i class='fa fa-remove form-control-feedback' ng-if="loginCtrl.passwordError()"></i>
			<i class='fa fa-check form-control-feedback' ng-if="loginCtrl.passwordOk()"></i>
		</div>
		<!-- Errors -->
		<div class='col-sm-10 col-sm-offset-2 error' ng-if="loginCtrl.passwordError()" 
			ng-messages="loginCtrl.form.password.$error">
			<strong class='text-danger' ng-message="required">
				The password field is required
			</strong>			
		</div>
	</div>

	<div class='row'>
		<div class='col-sm-4 col-sm-offset-2 col-xs-8'>
			<button type="submit" class='btn btn-primary btn-block'>
				<i class='fa fa-paper-plane'></i>
				Login
			</button>
		</div>
		<i class='fa fa-spinner fa-spin fa-2x' ng-if="loginCtrl.sending" no-animate></i>
	</div>

</form>