<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row align-center">
                    <div class="col-md-7">
                        <i class="fa fa-shopping-cart"></i>
                        <span>Shopping-cart</span>
                    </div>
                    <div class="col-md-5">
                        <a class="btn btn-primary btn-block" ui-sref="root.home">
                            <i class="fa fa-mail-forward"></i>
                            Continue Shopping
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div ng-if="basketCtrl.isEmpty()">
                        <div class='well text-center text-info'>
                            <h1>Empty Basket</h1>
                        </div>
                    </div>
                    <div class="row separator product-row animate" ng-if="!basketCtrl.isEmpty()"
                        ng-repeat="product in basketCtrl.basket.products track by product.id">
                        <div class="col-md-3">
                            <img class="img-responsive" ng-src="/api/products/{{product.id}}/image" />
                        </div>
                        <div class="col-md-6">
                            <h4>
                                <strong>
                                    <a ui-sref="root.product-details({id: product.id})">
                                        {{ product.name }}
                                    </a>
                                </strong>
                            </h4>
                            <span>
                                {{ product.description | limitTo:100 }}...
                            </span>
                        </div>                        
                        <div class="col-md-2 text-warning">
                            <span>
                                {{ product.price | currency }}
                            </span>
                        </div>
                        <div class="col-md-1">
                            <button class='btn btn-danger btn-sm' tooltip title="Remove from basket" 
                                ng-click="basketCtrl.removeProduct(product)">
                                <i class='fa fa-trash'></i>
                            </button>
                        </div>
                    </div>                    
                    <div class="row product-row pull-right" ng-if="!basketCtrl.isEmpty()">
                        <div class="text-right">
                            <h3>Total 
                                <strong>
                                    {{ basketCtrl.total() | currency }}
                                </strong>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer" ng-if="!basketCtrl.isEmpty()">
                <div class="row">
                    <div class="col-md-3 pull-right">
                        <button class="btn btn-success btn-block" ng-click="basketCtrl.checkout()">
                            Checkout
                            <i class='fa fa-play'></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>